@import '../../../../GlobalStyling.less';

div.q-dynamic-list-input {
    margin-top: 20px;
    padding: 10px;

    div.q-dynamic-input-element {
        .flex(@justifyContent: space-between);
        margin-bottom: 10px;

        div.q-input-element-wrapper {
            flex-grow: 5;
        }

        div.q-menu-wrapper {
            margin-left: 15px;
            flex-shrink: 0;
        }
    }
}
